samples/wsk/asl/choicex_state.json
{
    "Comment": "An example of the Amazon States Language using a choice state.",
    "StartAt": "FirstState",
    "States": {
        "FirstState": {
            "Type": "Task",
            "Resource": "wrn:wsk:functions:::function:/whisk.system/utils/echo",
            "Next": "ChoiceStateX"
        },
        "ChoiceStateX": {
            "Type": "Choice",
            "Choices": [
                {
                    "Not": {
                        "Variable": "$.type",
                        "StringEquals": "Private"
                    },
                    "Next": "Public"
                },
                {
                    "Variable": "$.value",
                    "NumericEquals": 0,
                    "Next": "ValueIsZero"
                },
                {
                    "And": [
                        {
                            "Variable": "$.value",
                            "NumericGreaterThanEquals": 20
                        },
                        {
                            "Variable": "$.value",
                            "NumericLessThan": 30
                        }
                    ],
                    "Next": "ValueInTwenties"
                }
            ],
            "Default": "DefaultState"
        },
        "Public": {
            "Type" : "Task",
            "Resource": "wrn:wsk:functions:::function:hello",
            "ResultPath": "$.public_state",
            "Next": "NextState"
        },
        "ValueIsZero": {
            "Type" : "Task",
            "Resource": "wrn:wsk:functions:::function:hello",
            "ResultPath": "$.value_is_zero_state",
            "Next": "NextState"
        },
        "ValueInTwenties": {
            "Type" : "Task",
            "Resource": "wrn:wsk:functions:::function:hello",
            "ResultPath": "$.value_in_twenties_state",
            "Next": "NextState"
        },
        "DefaultState": {
            "Type": "Fail",
            "Cause": "No Matches!"
        },
        "NextState": {
            "Type": "Task",
            "Resource": "wrn:wsk:functions:::function:hello",
            "ResultPath": "$.next_state",
            "End": true
        }
    }
}
