samples/wsk/asl/job_status_poller.json
{
    "Comment": "A state machine that submits a Job to AWS Batch and monitors the Job until it completes.",
    "StartAt": "Submit Job",
    "States": {
        "Submit Job": {
            "Type": "Task",
            "Resource": "wrn:wsk:functions:::function:/whisk.system/utils/echo",
            "ResultPath": "$.guid",
            "Next": "Wait X Seconds"
        },
        "Wait X Seconds": {
            "Type": "Wait",
            "SecondsPath": "$.wait_time",
            "Next": "Get Job Status"
        },
        "Get Job Status": {
            "Type": "Task",
            "Resource": "wrn:wsk:functions:::function:job",
            "Next": "Job Complete?",
            "InputPath": "$.guid",
            "ResultPath": "$.guid"
        },
        "Job Complete?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.guid.status",
                    "StringEquals": "FAILED",
                    "Next": "Job Failed"
                },
                {
                    "Variable": "$.guid.status",
                    "StringEquals": "SUCCEEDED",
                    "Next": "Get Final Job Status"
                }
            ],
            "Default": "Wait X Seconds"
        },
        "Job Failed": {
            "Type": "Fail",
            "Cause": "AWS Batch Job Failed",
            "Error": "DescribeJob returned FAILED"
        },
        "Get Final Job Status": {
            "Type": "Task",
            "Resource": "wrn:wsk:functions:::function:hello",
            "End": true
        }
    }
}
