samples/wsk/asl/translation.json
{
    "Comment": "Translation Demo.",
    "StartAt": "FirstState",
    "States": {
        "FirstState": {
            "Type": "Task",
            "InputPath": "$.forward",
            "ResultPath": "$.forward",
            "Resource": "frn:wsk:functions:::function:myTranslator/translator",
            "Catch": [
                {
                    "ErrorEquals": ["States.Runtime"],
                    "Next": "ReservedTypeFallback"
                },
                {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "CatchAllFallback"
                }
            ],
            "Next": "UpdateArg"
        },
        "UpdateArg": {
            "Type": "Pass",
            "InputPath": "$.forward.payload",
            "ResultPath": "$.backward.payload",
            "Next": "NextState"
        },
        "NextState": {
            "Type": "Task",
            "InputPath": "$.backward",
            "ResultPath": "$.backward",
            "Resource": "frn:wsk:functions:::function:myTranslator/translator",
            "End": true
        },
        "ReservedTypeFallback": {
            "Type": "Pass",
            "ResultPath": "$.output",
            "Result": "This is a fallback from a reserved error code",
            "End": true
        },
        "CatchAllFallback": {
            "Type": "Pass",
            "Result": "This is a fallback from any error code",
            "End": true
        }
    }
}
