samples/asl/choice_asl.json
{
    "input": {
        "foo": 1
    },
    "asl": {
        "Comment": "An example of the Amazon States Language using a choice state.",
        "StartAt": "FirstState",
        "States": {
            "FirstState": {
                "Type": "Task",
                "Resource": "hello",
                "Next": "ChoiceState"
            },
            "ChoiceState": {
                "Type" : "Choice",
                "Choices": [
                    {
                        "Variable": "$.foo",
                        "NumericEquals": 1,
                        "Next": "FirstMatchState"
                    },
                    {
                        "Variable": "$.foo",
                        "NumericEquals": 2,
                        "Next": "SecondMatchState"
                    }
                ],
                "Default": "DefaultState"
            },

            "FirstMatchState": {
                "Type" : "Task",
                "Resource": "hello",
                "Next": "NextState"
            },

            "SecondMatchState": {
                "Type" : "Task",
                "Resource": "hello",
                "Next": "NextState"
            },

            "DefaultState": {
                "Type": "Fail",
                "Error": "DefaultStateError",
                "Cause": "No Matches!"
            },

            "NextState": {
                "Type": "Task",
                "Resource": "hello",
                "End": true
            }
        }
    }
}
