samples/asl/wait_state_asl.json
{
    "Comment": "An example of the Amazon States Language using wait states",
    "StartAt": "FirstState",
    "States": {
        "FirstState": {
            "Type": "Task",
            "Resource": "wsk:helloPython",
            "ResultPath": "$.first_state",
            "Next": "wait_using_seconds"
        },
        "wait_using_seconds": {
            "Type": "Wait",
            "Seconds": 3,
            "Next": "wait_using_timestamp"
        },
        "wait_using_timestamp": {
            "Type": "Wait",
            "Timestamp": "2015-09-04T01:59:00Z",
            "Next": "wait_using_timestamp_path"
        },
        "wait_using_timestamp_path": {
            "Type": "Wait",
            "TimestampPath": "$.expirydate",
            "Next": "wait_using_seconds_path"
        },
        "wait_using_seconds_path": {
            "Type": "Wait",
            "SecondsPath": "$.expiryseconds",
            "Next": "FinalState"
        },
        "FinalState": {
            "Type": "Task",
            "Resource": "wsk:hello",
            "End": true
        }
    }
}
