samples/azure/asl/translation.json
{
    "Comment": "Translation Demo.",
    "StartAt": "FirstState",
    "States": {
        "FirstState": {
            "Type": "Task",
            "InputPath": "$.forward",
            "ResultPath": "$.forward",
            "Resource": "frn:azure:functions::${azure_webapp_name}:function:translate",
            "Next": "UpdateArg"
        },
        "UpdateArg": {
            "Type": "Pass",
            "InputPath": "$.forward.payload.text",
            "ResultPath": "$.backward.payload",
            "Next": "NextState"
        },
        "NextState": {
            "Type": "Task",
            "InputPath": "$.backward",
            "ResultPath": "$.backward",
            "Resource": "frn:azure:functions::${azure_webapp_name}:function:translate",
            "End": true
        }
    }
}
