samples/aws/asl/job_status_poller.json
{
    "Comment": "A state machine that submits a Job to AWS Batch and monitors the Job until it completes.",
    "StartAt": "Submit Job",
    "States": {
        "Submit Job": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:410388484666:function:echo",
            "ResultPath": "$.guid",
            "Next": "Wait X Seconds",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ]
        },
        "Wait X Seconds": {
            "Type": "Wait",
            "SecondsPath": "$.wait_time",
            "Next": "Get Job Status"
        },
        "Get Job Status": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:410388484666:function:job",
            "Next": "Job Complete?",
            "InputPath": "$.guid",
            "ResultPath": "$.guid",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ]
        },
        "Job Complete?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.guid.status",
                    "StringEquals": "FAILED",
                    "Next": "Job Failed"
                },
                {
                    "Variable": "$.guid.status",
                    "StringEquals": "SUCCEEDED",
                    "Next": "Get Final Job Status"
                }
            ],
            "Default": "Wait X Seconds"
        },
        "Job Failed": {
            "Type": "Fail",
            "Cause": "AWS Batch Job Failed",
            "Error": "DescribeJob returned FAILED"
        },
        "Get Final Job Status": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:410388484666:function:hello",
            "End": true,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2
                }
            ]
        }
    }
}
