samples/common/asl/hello_all_seq.json
{
    "Comment": "A Hello World example of the Amazon States Language using a Task state",
    "StartAt": "HelloAWS",
    "States": {
        "HelloAWS": {
            "Type": "Task",
            "Resource":"arn:aws:lambda:${aws_region}:${aws_account_id}:function:hello",
            "ResultPath": "$.aws",
            "Next": "HelloGCP"
        },
       "HelloGCP": {
            "Type": "Task",
            "Resource":"grn:gcp:functions:${gcp_location_id}:${gcp_project_id}:function:hello",
            "ResultPath": "$.gcp",
            "Next": "HelloAzure"
        },
        "HelloAzure": {
            "Type": "Task",
            "Resource":"mrn:azure:functions:${azure_location}:${azure_webapp_name}:function:hello",
            "ResultPath": "$.azure",
            "Next": "HelloBluemix"
        },
        "HelloBluemix": {
            "Type": "Task",
            "Resource": "wrn:wsk:functions:::function:hello",
            "ResultPath": "$.bluemix",
            "End": true
        }
    }
}
